ion-tab-button {
  background-color: #131314;
}
ion-card-title,
ion-card-subtitle {
  padding: 5px;
  text-align: center;
}

ion-card-title {
  letter-spacing: 3px;
  margin-top: 10px;
}
ion-card-subtitle {
  letter-spacing: 2px;
  font-weight: 50;
}

.featured-show-buttons-container {
  margin: 10px 0 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: rgb(189, 189, 189);
}

.play-button-link {
  text-decoration: none;
  color: inherit;
}

.all-genres-container {
  margin-top: 50px;
  text-align: center;
}
.genre-title {
  margin-top: 20px;
}
.genre-container-container {
  display: flex;
  justify-content: center;
}
.genre-container {
  width: 100%;
  list-style: none;
  margin-left: -40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.image-container {
  max-width: 100px;
  height: 140.47px;
  margin: 3px;
}
/*    Search    */

.sc-ion-searchbar-md-h {
  background-color: #1c1c1d;
  position: fixed;
  margin-top: -22px;
}

.ion-toolbar.sc-ion-searchbar-ios-h,
ion-toolbar .sc-ion-searchbar-ios-h {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 52px;
}

.searchbar-left-aligned.sc-ion-searchbar-ios-h
  .searchbar-input.sc-ion-searchbar-ios {
  padding-inline-start: 50px;
  color: rgb(230, 230, 230);
}
.searchbar-search-icon.sc-ion-searchbar-ios {
  padding-left: 10px;
  fill: rgb(182, 182, 182);
}

.list-md {
  background: #1c1c1d;
}

.show-title {
  color: rgb(230, 230, 230);
  letter-spacing: 1px;
  font-size: 15px;
}
.all-shows-container {
  margin-top: -7px;
}

.show-container {
  padding: 0 5px 0 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #1c1c1d;
  border-top: 2px solid rgb(14, 14, 14);
  height: 140px;
  overflow: hidden;
}
.show-image-container {
  width: 102px;
  height: auto;
}
.show-info-container {
  flex: 1;
  margin-left: 10px;
}
.show-year {
  margin-top: 15px;
  font-size: 12px;
  color: rgb(156, 156, 156);
}
.show-info {
  color: rgb(224, 224, 224);
  font-size: 12px;
  font-weight: 300;
}

.play-icon-list {
  font-size: 20px;
  color: rgb(224, 224, 224);
}

/* Details*/

.details-info-year {
  margin-top: -3px;
  text-align: center;
  letter-spacing: 1px;
  font-weight: 100;
}

.details-info-summary {
  margin: -15px 20px 0;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  color: rgb(224, 224, 224);
}

/* My List */

.empty-myList-container {
  text-align: center;
  padding: 50px 20px;
}
.empty-myList-info {
  line-height: 30px;
  letter-spacing: 2px;
  padding: 0 20px 0;
  color: rgb(156, 156, 156);
}
.myList-gallery-container {
  border-left: 2px solid #131314;
  border-right: 2px solid #131314;
  margin-top: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.myList-image {
  display: block;
  border: 2px solid #131314;
}
