ion-tab-button {
  background-color: #131314;
}
ion-card-title,
ion-card-subtitle {
  padding: 5px;
  text-align: center;
}

ion-card-title {
  letter-spacing: 3px;
}
ion-card-subtitle {
  letter-spacing: 2px;
  font-weight: 50;
}

.featured-show-buttons-container {
  margin: 10px 0 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  color: rgb(189, 189, 189);
}

.links {
  text-decoration: none;
  color: inherit;
}

.all-genres-container {
  margin-top: 30px;
  text-align: center;
}
.genre-title {
  margin-top: 20px;
}
.genre-container-container {
  display: flex;
  justify-content: center;
}
.genre-container {
  width: 100%;
  list-style: none;
  margin-left: -40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.image-container {
  max-width: 100px;
  height: auto;
}
/*    Search    */

.sc-ion-searchbar-md-h {
  background-color: #191a1d;
}
.searchbar-left-aligned.sc-ion-searchbar-ios-h
  .searchbar-input.sc-ion-searchbar-ios {
  padding-inline-start: 50px;
  color: rgb(230, 230, 230);
}
.searchbar-search-icon.sc-ion-searchbar-ios {
  padding-left: 10px;
  fill: rgb(182, 182, 182);
}

.list-md {
  background: #131314;
}

.show-title {
  color: rgb(230, 230, 230);
  letter-spacing: 1px;
  font-size: 15px;
}
.all-shows-container {
  margin-top: 5px;
  margin-left: -15px;
}

.show-container {
  display: flex;
  flex-direction: row;
  margin-bottom: -3px;
}
.show-image-container {
  width: 100px;
  height: auto;
}
.show-info-container {
  margin: -5px 5px 0 10px;
  width: 190px;
}
.show-year {
  font-size: 12px;
  color: rgb(156, 156, 156);
}
.show-info {
  color: rgb(224, 224, 224);
  font-size: 12px;
  font-weight: 300;
  margin-top: -2px;
}

.favorite-icon-list {
  font-size: 20px;
  align-self: center;
  text-align: end;
}

/* Details*/

.details-info-container {
  padding: 10px 0 0;
  margin-bottom: -10px;
  text-align: center;
}

/* My List */

.empty-myList-container {
  text-align: center;
  padding: 90px 20px;
}
.empty-myList-info {
  line-height: 30px;
  letter-spacing: 2px;
  padding: 0 20px 0;
  color: rgb(156, 156, 156);
}
